// Color pallet : https://coolors.co/b58479-e0d68a-02182b-95a3b3-b3b4c9-893168-ad7ba4-d0c4df

$dark_background: #02182b;
$light_background: #95a3b3;
$light_yellow: #e0d68a;
$slightly_dark_purple: #893168;
$light_purple: #ad7ba4;
$lavender: #d0c4df;
$lilac: #bfa0c2;
