@use './abstract/colors' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: c.$dark_background
}

button {
    border: none;
}

header {
    background: c.$light_background;
    padding: .7rem;

    display: flex;
    .game_title {
        font-weight: bold;
        font-size: 3rem;

        margin-left: auto;
    }

    .links {
        margin-left: auto;
        img {
            width: 50px;
        }
    }
}

.choices {
    display: flex;
    gap: 1rem;
}

.card {
    width: 20%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;

    background: c.$lavender;
    border-radius: 10px;

    &:hover {
        background: darken(c.$lavender, 15%) 

    }

    .symbol {
        font-size: 15rem;
    }

    .type {
        font-size: 2rem;
    }
}
