@use './abstract/colors' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: c.$dark_background
}

button {
    border: none;
}

header {
    background: c.$light_background;
    padding: .7rem;

    display: flex;
    .game_title {
        font-weight: bold;
        font-size: 3rem;

        margin-left: auto;
    }

    .links {
        margin-left: auto;
        img {
            width: 50px;
        }
    }
}

.cards {
    display: flex;
    flex-flow: column nowrap;

    gap: 3rem;

    margin-top: 2rem;

    .player, .computer {
        margin: 0 auto;
        min-width: 80%;
        display: flex;
        flex-flow: column nowrap;
    }

    .player {
        gap: 1rem;
    }

}

.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    background: c.$lavender;
    border-radius: 10px;

    &:hover {
        background: darken(c.$lavender, 15%);
        animation: up_down 3s infinite;
    }

    .symbol {
        font-size: 7rem;
    }

    .type {
        font-size: 2rem;
    }
}

@keyframes up_down {
    0%, 100% {
        transform: translateY(0);
        transition: ease;
    }

    50% {
        transform: translateY(-30px);
        transition: ease;
    }
}

@media (min-width: 500px) {
    .cards {
        display: flex;
        flex-flow: column nowrap;

        gap: 3rem;

        margin-top: 2rem;

        .player, .computer {
            margin: 0 auto;
            min-width: 80%;
            display: flex;
            flex-flow: column nowrap;
        }

        .player {
            gap: 1rem;
        }

    }

    .card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 3rem;

        background: c.$lavender;
        border-radius: 10px;

        &:hover {
            background: darken(c.$lavender, 15%) 

        }

        .symbol {
            font-size: 15rem;
        }

        .type {
            font-size: 2rem;
        }
    }
}
